.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #a5c9ea } /* Comment */
.highlight .k { color: #ffffff; font-weight: bold } /* Keyword */
.highlight .n { color: #dcdcdc } /* Name */
.highlight .o { color: #aaaaaa } /* Operator */
.highlight .p { color: #aaaaaa } /* Punctuation */
.highlight .ch { color: #a5c9ea } /* Comment.Hashbang */
.highlight .cm { color: #a5c9ea } /* Comment.Multiline */
.highlight .cp { color: #3bd267 } /* Comment.Preproc */
.highlight .cpf { color: #c7cf2f } /* Comment.PreprocFile */
.highlight .c1 { color: #a5c9ea } /* Comment.Single */
.highlight .cs { color: #a5c9ea } /* Comment.Special */
.highlight .kc { color: #ffffff; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #ffffff; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #ffffff; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #ffffff; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #ffffff; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #ffffff; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #c7cf2f } /* Literal.Number */
.highlight .s { color: #e07f7c } /* Literal.String */
.highlight .na { color: #dcdcdc } /* Name.Attribute */
.highlight .nb { color: #ffffff; font-weight: bold } /* Name.Builtin */
.highlight .nc { color: #dcdcdc } /* Name.Class */
.highlight .no { color: #dcdcdc } /* Name.Constant */
.highlight .nd { color: #dcdcdc } /* Name.Decorator */
.highlight .ni { color: #dcdcdc } /* Name.Entity */
.highlight .ne { color: #dcdcdc } /* Name.Exception */
.highlight .nf { color: #dcdcdc } /* Name.Function */
.highlight .nl { color: #dcdcdc } /* Name.Label */
.highlight .nn { color: #dcdcdc } /* Name.Namespace */
.highlight .nx { color: #dcdcdc } /* Name.Other */
.highlight .py { color: #dcdcdc } /* Name.Property */
.highlight .nt { color: #dcdcdc } /* Name.Tag */
.highlight .nv { color: #c7cf2f } /* Name.Variable */
.highlight .ow { color: #aaaaaa } /* Operator.Word */
.highlight .mb { color: #c7cf2f } /* Literal.Number.Bin */
.highlight .mf { color: #c7cf2f } /* Literal.Number.Float */
.highlight .mh { color: #c7cf2f } /* Literal.Number.Hex */
.highlight .mi { color: #c7cf2f } /* Literal.Number.Integer */
.highlight .mo { color: #c7cf2f } /* Literal.Number.Oct */
.highlight .sa { color: #e07f7c } /* Literal.String.Affix */
.highlight .sb { color: #e07f7c } /* Literal.String.Backtick */
.highlight .sc { color: #e07cdc } /* Literal.String.Char */
.highlight .dl { color: #e07f7c } /* Literal.String.Delimiter */
.highlight .sd { color: #e07f7c } /* Literal.String.Doc */
.highlight .s2 { color: #e07f7c } /* Literal.String.Double */
.highlight .se { color: #e07f7c } /* Literal.String.Escape */
.highlight .sh { color: #e07f7c } /* Literal.String.Heredoc */
.highlight .si { color: #e07f7c } /* Literal.String.Interpol */
.highlight .sx { color: #e07f7c } /* Literal.String.Other */
.highlight .sr { color: #e07f7c } /* Literal.String.Regex */
.highlight .s1 { color: #e07f7c } /* Literal.String.Single */
.highlight .ss { color: #e07f7c } /* Literal.String.Symbol */
.highlight .bp { color: #ffffff; font-weight: bold } /* Name.Builtin.Pseudo */
.highlight .fm { color: #dcdcdc } /* Name.Function.Magic */
.highlight .vc { color: #c7cf2f } /* Name.Variable.Class */
.highlight .vg { color: #c7cf2f } /* Name.Variable.Global */
.highlight .vi { color: #c7cf2f } /* Name.Variable.Instance */
.highlight .vm { color: #c7cf2f } /* Name.Variable.Magic */
.highlight .il { color: #c7cf2f } /* Literal.Number.Integer.Long */
