{% extends "base_blog.html" %}

{% block title %}{{ article.title }} | {{ BLOGNAME }}{% endblock %}

{% block head %}
  {{- super() -}}
  {% if article.description %}
  <meta name="description" content="{{ article.description }}" />
  {% endif %}
  <meta name="keywords" content="{{ article.tags|join(", ") }}" />
  <meta property="og:title" content="{{ article.title }}" />
  <meta name="twitter:title" content="{{ article.title }}" />
  <meta property="og:url" content="{{ article.url }}" />
  <meta name="twitter:url" content="{{ article.url }}" />
  <meta property="og:description" content="{{ article.summary|striptags }}" />
  <meta name="twitter:description" content="{{ article.summary|striptags }}" />
  {% if article.cover %}
  <meta property="og:image" content="{{ article.cover|expand_link(article) }}" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image" content="{{ article.cover|expand_link(article) }}" />
  {% endif %}
  <meta property="og:type" content="article" />
{% endblock %}

{% block content %}
  {% if article.cover %}
  <article id="m-jumbo"{% if article.class %}class="{{ article.class }}"{%endif%}">
    <header>
      <div id="m-jumbo-image" style="background-image: url('{{ article.cover|expand_link(article) }}');">
        <div id="m-jumbo-cover">
          <div class="m-container">
            <div class="m-row">
              <div class="m-col-t-6 m-col-s-5 m-push-s-1 m-text-left">{{ article.locale_date }}</div>
              <div class="m-col-t-6 m-col-s-5 m-push-s-1 m-text-right">{% for author in article.authors %}<a href="{{ author.url }}">{{ author }}</a>{% endfor %}</div>
            </div>
            <div class="m-row">
              <div class="m-col-t-12 m-col-s-10 m-push-s-1 m-col-m-8 m-push-m-2">
                {% set title = article.title.split(' — ') %}
                <h1><a href="{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title }}">
                  {{ title[0] }}
                </a></h1>
                {% if title|length >= 2 %}
                <h2>{{ title[1] }}</h2>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="m-container">
        <div class="m-row">
          <div class="m-col-m-10 m-push-m-1 m-nopady">
            {{ article.summary|indent(12) }}
          </div>
        </div>
      </div>
    </header>
    <div class="m-container" id="m-container-inflatable">
      <div class="m-row">
        <div class="m-col-m-10 m-push-m-1 m-nopady">
<!-- content -->
{{ article.content -}}
<!-- /content -->
        </div>
      </div>
    </div>
    <footer class="m-container">
      <div class="m-row">
        <div class="m-col-m-10 m-push-m-1 m-nopadb">
          <p>Posted {% if article.authors %}by {% for author in article.authors %}<a href="{{ author.url }}">{{ author }}</a>{% endfor %}{% endif %} on <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time> in <a href="{{ article.category.url }} ">{{ article.category }}</a>.{% if article.tags %} Tags: {% for tag in article.tags %}<a href="{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}{% endfor %}.{% endif %}</p>
        </div>
      </div>
    </footer>
  </article>
  {% else %}
    <article class="m-col-m-10 m-nopadb">
      {% macro header() %}{% include "article_header.html" %}{% endmacro %}
      {{ header()|indent(6) }}
      <div class="m-clearfix-l"></div>
<!-- content -->
{{ article.content -}}
<!-- /content -->
      {% macro footer() %}{% include "article_footer.html" %}{% endmacro %}
      {{ footer()|indent(6) }}
    </article>
    {% endif %}
{% endblock %}
