<header>
  <h1><a href="{{ article.url|format_siteurl }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
    <time class="m-date" datetime="{{ article.date.isoformat() }}">
      {% set month, day, year = article.date.strftime('%b %d %Y').split(' ') %}
      {{ month }} <span class="m-date-day">{{ day }}</span> {{year}}
    </time>
    {{ article.title }}
  </a>
  {% if article.translations %}<nav class="m-translations"><!-- Read in: -->
    {% for translation in article.translations %}
        <li class="m-translations-lang"><a href="{{ SITEURL }}/{{ translation.url }}">{{ translation.lang }}</a></li>
    {% endfor %}
    </nav>
  {% endif %}
  </h1>
  {{ article.summary|indent(2) }}
</header>
