{% extends "base_blog.html" %}
{% block content %}
    <div class="m-col-m-10">
      {% block content_title %}
      {% endblock content_title %}
      {% for article in articles_page.object_list %}
      <article>
        {% macro header() %}{% include "article_header.html" %}{% endmacro %}
        {{ header()|indent(8) }}
        {% macro footer() %}{% include "article_footer.html" %}{% endmacro %}
        {{ footer()|indent(8) }}
      </article>
      {% endfor %}
      {% if articles_page.has_other_pages() %}
      {% macro pagination() %}{% include 'pagination.html' %}{% endmacro %}
      {{ pagination()|indent(6) }}
      {% endif %}
    </div>
{% endblock content %}
