{% set page_slug = '[blog]' %}
{% extends 'base.html' %}

{% block title %}{{ BLOGNAME }}{% endblock %}

{% block main %}
{% if article and article.cover %}
{% else %}
<div class="m-container">
  <div class="m-row">
{% endif %}
{% block content %}
{% endblock %}
{% if article and article.cover %}
  <nav class="m-navpanel m-container">
    <div class="m-row">
      <div class="m-col-m-5 m-push-m-1 m-col-s-6">
        <h3>Cate&shy;gories</h3>
        <ol class="m-block-bar-m">
          {% for cat, null in categories %}
          <li><a href="{{ cat.url|format_siteurl }}">{{ cat }}</a></li>
          {% endfor %}
        </ol>
      </div>
      <div class="m-col-m-5 m-push-m-1 m-col-s-6">
        <h3>Tag cloud</h3>
        <ul class="m-tagcloud">
          {% set max_articles_per_tag = tags|map(attribute='1')|map('length')|sort|last %}
          {% for tag, articles in tags|sort(attribute='0') %}
          <li class="m-tag-{{ (5*(articles|length)/max_articles_per_tag)|round(0, 'ceil')|int }} "><a href="{{ tag.url|format_siteurl }}">{{ tag }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
{% else %}
    <nav class="m-navpanel m-col-m-2">
      <h3>Cate&shy;gories</h3>
      <ol class="m-block-bar-m">
        {% for cat, null in categories %}
        <li><a href="{{ cat.url|format_siteurl }}">{{ cat|hyphenate }}</a></li>
        {% endfor %}
      </ol>
      <h3>Tag cloud</h3>
      <ul class="m-tagcloud">
        {% set max_articles_per_tag = tags|map(attribute='1')|map('length')|sort|last %}
        {% for tag, articles in tags|sort(attribute='0') %}
        <li class="m-tag-{{ (5*(articles|length)/max_articles_per_tag)|round(0, 'ceil')|int }} "><a href="{{ tag.url|format_siteurl }}">{{ tag }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>
{% endif %}
{% endblock %}
