{% extends "base_blog.html" %}

{% block head %}
  {{- super() -}}
  {% if articles_page.has_previous() %}
  <link rel="prev" href="{{ articles_previous_page.url|format_siteurl }}" />
  {% endif %}
  {% if articles_page.has_next() %}
  <link rel="next" href="{{ articles_next_page.url|format_siteurl }}" />
  {% endif %}
{% endblock head %}

{% block content %}
    <div class="m-col-m-10">
      {% if not articles_page.object_list %}
      <div class="m-note m-success">
        <h3>Congratulations!</h3>
        The m.css theme is alive and kicking! Now, feed it some articles so it doesn't feel so empty :)
      </div>
      {% endif %}
      {% for article in articles_page.object_list %}
      <article>
        {% macro header() %}{% include "article_header.html" %}{% endmacro %}
        {{ header()|indent(8) }}
        {% if loop.first and articles_page.number == 1 and
              ((article.collapse_first is defined and article.collapse_first != 'True') or
               (article.collapse_first is not defined and not M_COLLAPSE_FIRST_ARTICLE)) %}
        <div class="m-clearfix-l"></div>
<!-- content -->
{{ article.content|trim }}
<!-- /content -->
        {% endif %}
        <footer>
          {% macro footer() %}{% include "article_footer.html" %}{% endmacro %}
          {{ footer()|indent(10) }}
        </footer>
        {% if not loop.first or articles_page.number != 1 %}
        <div class="m-clearfix-l"></div>
        {% endif %}
      </article>
      {% endfor %}
      {% if articles_page.has_other_pages() %}
      {% macro pagination() %}{% include 'pagination.html' %}{% endmacro %}
      {{ pagination()|indent(6) }}
      {% endif %}
    </div>
{% endblock content %}
