{% set page_slug = page.slug %}
{% extends "base.html" %}

{% block title %}
{% if page.breadcrumb %}
{% set breadcrumbs = page.breadcrumb.strip().split('\n') %}
{% for i in breadcrumbs %}{% set url, _, title = i.strip().partition(' ') %}{{ title }} &raquo; {% endfor %}
{% endif %}
{% if page.title == SITENAME %}
{{ page.title -}}
{% else %}
{{ page.title }} | {{ SITENAME -}}
{% endif %}
{% endblock %}

{% block head %}
  {{- super() -}}
  {% if page.description %}
  <meta name="description" content="{{ page.description }}" />
  {% endif %}
  <meta property="og:title" content="{{ page.title }}" />
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta property="og:url" content="{% if page.url %}{{ page.url }}{% else %}{{ SITEURL }}{% endif %}" />
  <meta name="twitter:url" content="{% if page.url %}{{ page.url }}{% else %}{{ SITEURL }}{% endif %}" />
  <meta property="og:description" content="{{ page.summary|striptags }}" />
  <meta name="twitter:description" content="{{ page.summary|striptags }}" />
  {% if page.cover %}
  <meta property="og:image" content="{{ page.cover|expand_link(page) }}" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image" content="{{ page.cover|expand_link(page) }}" />
  {% else %}
  <meta name="twitter:card" content="summary" />
  {% endif %}
  <meta property="og:type" content="website" />
  {% if page.css %}
  {% set styles = page.css.strip().split('\n') %}
  {% for style in styles %}
  <link rel="stylesheet" href="{{ style|expand_link(page) }}" />
  {% endfor %}
  {% endif %}
{% endblock %}

{% block main %}
<article>
  {% if page.landing %}
  <div id="m-landing-image"{% if page.cover %} style="background-image: url('{{ page.cover|expand_link(page) }}');"{% endif %}>
    <div id="m-landing-cover">
      <div class="m-container">
        {{ page.landing|expand_links(page) }}
      </div>
    </div>
  </div>
  {% endif %}
  <div class="m-container" id="m-container-inflatable">
    <div class="m-row">
      <div class="m-col-l-10 m-push-l-1">
        {% if not page.landing %}
        <h1>
          {% if page.breadcrumb %}
          <span class="m-breadcrumb">
            {% set breadcrumbs = page.breadcrumb.strip().split('\n') %}
            {% for i in breadcrumbs %}
            {% set url, _, title = i.strip().partition(' ') %}
            <a href="{{ url|expand_link(page) }}">{{ title }}</a> &raquo;
            {% endfor %}
          </span>
          {% endif %}
          {{ page.title }}
        </h1>
        {% endif %}
<!-- content -->
{{ page.content -}}
<!-- /content -->
      </div>
    </div>
  </div>
</article>
{% endblock %}
