{% set page_title = page.title %}
{% extends "base.html" %}

{% block title %}
{% if page.breadcrumb %}
{% set breadcrumbs = page.breadcrumb.strip().split('\n') %}
{% for i in breadcrumbs %}{% set url, _, title = i.strip().partition(' ') %}{{ title }} &raquo; {% endfor %}
{% endif %}
{{ page.title }} | {{ SITENAME -}}
{% endblock %}

{% block head %}
  {{- super() -}}
  {% if page.css %}
  <link rel="stylesheet" href="{{ page.css|expand_link(page) }}" />
  {% endif %}
{% endblock %}

{% block main %}
<article class="m-container" id="m-container-inflatable">
  <div class="m-row">
    <div class="m-col-l-10 m-push-l-1">
      {% if not page.landing %}
      <h1>
        {% if page.breadcrumb %}
        <span class="m-breadcrumb">
          {% set breadcrumbs = page.breadcrumb.strip().split('\n') %}
          {% for i in breadcrumbs %}
          {% set url, _, title = i.strip().partition(' ') %}
          <a href="{{ url|expand_link(page) }}">{{ title }}</a> &raquo;
          {% endfor %}
        </span>
        {% endif %}
        {{ page.title }}
      </h1>
<!-- content -->
{{ page.content -}}
<!-- /content -->
    </div>
  </div>
</article>
{% endblock %}
