{% if DEFAULT_PAGINATION %}
<div class="m-article-pagination">
  {%- if articles_page.has_previous() %}<a href="{{ articles_previous_page.url|format_siteurl|e }}">&laquo; {% if ARTICLE_ORDER_BY == "date" %}older{% else %}newer{% endif %} articles</a> | {% endif -%}
  page {{ articles_page.number }}
  {%- if articles_page.has_next() %} | <a href="{{ articles_next_page.url|format_siteurl|e }}">{% if ARTICLE_ORDER_BY == "date" %}newer{% else %}older{% endif %} articles &raquo;</a>{% endif -%}
</div>
{% endif %}
